{% extends 'base.html.twig' %}
{% form_theme formShop 'bootstrap_4_layout.html.twig' %}

{% block content %}

    {% if newShop %}
        <h1>Ajouter un commerce</h1>
    {% else %}
        <h1>Editer le commerce</h1>
    {% endif %}

    {{ form_start(formShop) }}

    {{ form_widget(formShop) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(formShop) }}

{% endblock %}